
<div class="container" >

  <div class="row mt-5">
    <div class="col-4 offset-4 text-center">
      <button class="btn btn-primary btn-sm col-md-6"  (click)="loadData()"><h5><b>{{buttonname}}</b></h5></button>
    </div>
    <!-- [disabled]="isDataNotLoaded" -->
  </div>

  <div class="row mt-3" *ngIf = "loadTable">
    <table class="table">
      <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Email</th>      
        <th>Phone No.</th>      
        <th>Role</th>
        <th>Address</th>      
        <th>Actions</th>

      </tr>
      <tr *ngFor="let user of users ;  let i = index">

        <td>
          <input type="text" *ngIf="user.modifiable" [(ngModel)]="users[i].firstname" />
          <ng-container *ngIf="!user.modifiable">{{user.firstname}}</ng-container>
        </td>
        <td>
          <input type="text" *ngIf="user.modifiable" [(ngModel)]="users[i].middlename" />
          <ng-container *ngIf="!user.modifiable">{{user.middlename}}</ng-container>
        </td>
        <td>
          <input type="text" *ngIf="user.modifiable" [(ngModel)]="users[i].lastname" />
          <ng-container *ngIf="!user.modifiable">{{user.lastname}}</ng-container>
        </td>  
        <td>
          <input type="text" *ngIf="user.modifiable" [(ngModel)]="users[i].email" />
          <ng-container *ngIf="!user.modifiable">{{user.email}}</ng-container>
        </td>   
        <td>
          <input type="text" *ngIf="user.modifiable" [(ngModel)]="users[i].phone" />
          <ng-container *ngIf="!user.modifiable">{{user.phone}}</ng-container>
        </td>   
        <!-- <td>
          <input type="text" *ngIf="user.modifiable" [(ngModel)]="users[i].role" />
          <ng-container *ngIf="!user.modifiable">{{user.role}}</ng-container>
        </td>  [selected]="car.color.id == x.id"-->
        <td>
            <select *ngIf="user.modifiable" [(ngModel)]="users[i].roleid">
                <option *ngFor="let role of roles" [value]="role">
                  {{role}}
                </option>
            </select> 
            <ng-container *ngIf="!user.modifiable">{{user.role}}</ng-container>
        </td> 
        <td>
          <textarea *ngIf="user.modifiable" [(ngModel)]="users[i].address"></textarea>
          <ng-container *ngIf="!user.modifiable">{{user.address}}</ng-container>
        </td> 
        <td *ngIf="!user.modifiable">
          <div class="row d-flex flex-row">
            <div class="col mx-0 px-0">
              <button  class="edit-button" (click)="edit(user)">Edit</button>
            </div>
            <div class="col mx-0 px-0">
              <button  class="delete-button" (click)="deleteUser(i)">Delete</button>
            </div>
          </div>
        </td>
        <td *ngIf="user.modifiable">
          <div class="row d-flex flex-row">
            <div class="col col mx-0 px-0">
              <button class="save-button" (click)="updateUser(i)">Save</button>
            </div>
            <div class="col col mx-0 px-0">
              <button class="cancel-button" (click)="user.modifiable = false">Cancel</button>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>

</div>
